<% @body_id = 'home' %>

<div class="homepage-hero-image mb-3 position-relative">
  <img class="lazyload hero-image position-absolute"
    data-src="<%= asset_path('homepage/main_banner.jpg') %>"
    data-srcset="<%= image_source_set('homepage/main_banner') %>"
    alt="<%= Spree.t('homepage.summer_collection')%>" />

  <div class="hero-content">
    <div class="homepage-hero-image-text text-uppercase mb-2 mx-auto pb-3 pb-md-4">
      <span>Full Spectrum Olej Konopny</span>
    </div>
    <div>
      <%= link_to "KUP TERAZ", spree.products_path, class: 'btn btn-primary spree-btn px-5 font-weight-500' %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">

      <div class="homepage-taxon-box mb-3">
        <%= link_to spree.nested_taxons_path('men') do %>
          <img class="w-100 lazyload"
            data-src="<%= asset_path('homepage/category_banner_upper.jpg') %>"
            data-srcset="<%= image_source_set('homepage/category_banner_upper') %>"
            alt="Susz konopny" />

          <div class="homepage-taxon-box-text">
            <h3>Susz konopny</h3>
          </div>
        <% end %>
      </div>

      <div class="homepage-taxon-box">
        <%= link_to spree.nested_taxons_path('sportswear') do %>
          <img class="w-100 lazyload"
            data-src="<%= asset_path('homepage/category_banner_lower.jpg') %>"
            data-srcset="<%= image_source_set('homepage/category_banner_lower') %>"
            alt="Kosmetyki naturalne" />

          <div class="homepage-taxon-box-text" role="img" aria-label="Kosmetyki naturalne">
            <h3>Kosmetyki naturalne</h3>
          </div>
        <% end %>
      </div>

    </div>

    <div class="col-6 d-flex flex-column">

      <div class="homepage-taxon-box flex-grow-1">
        <%= link_to spree.nested_taxons_path('women') do %>
          <img class="w-100 lazyload"
            data-src="<%= asset_path('homepage/big_category_banner.jpg') %>"
            data-srcset="<%= image_source_set('homepage/big_category_banner') %>"
            alt="Oleje CBD" />

          <div class="homepage-taxon-box-text">
            <h3>Oleje CBD</h3>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div data-product-carousel data-product-carousel-taxon-id='bestsellers' class="my-3"></div>

<div class="container">
  <div class="row pt-5 pb-5 mt-5 mb-5">
    <div class="col-sm-3 pb-5 d-flex justify-content-center align-items-center">
      <%= image_tag 'homepage/hempleaf.png', class: "w-50 w-sm-100" %>
    </div>
    <div class="col-sm-6">
          <h2 class="text-center">O Hemp Champ</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          <div class="text-center">
            <%= link_to "KUP TERAZ", spree.products_path, class: 'btn btn-primary spree-btn px-5 font-weight-500' %>
          </div>
    </div>
    <div class="col-sm-3 pt-5 d-flex justify-content-center align-items-center">
      <%= image_tag 'homepage/hempleaf.png', class: "hempleaf--rotated w-50 w-sm-100" %>
    </div>
  </div>
</div>

<div data-product-carousel data-product-carousel-taxon-id='trending' class="mb-3"></div>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <%= link_to asset_path("who.pdf"), target: '_blank' do %>
        <div class="homepage-bottom-box text-center mb-3">
          <img class="w-100 lazyload"
            data-src="<%= asset_path('homepage/promo_banner_left.jpg') %>"
            data-srcset="<%= image_source_set('homepage/promo_banner_left') %>"
            alt="<%= Spree.t('homepage.new_collection')%>" />

          <div class="homepage-bottom-box-inner" role="img">
            <div class="homepage-bottom-box-inner-big-text text-uppercase">
              Raport WHO
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-12 col-lg-6">
      <%= link_to spree.nested_taxons_path('summer-sale') do %>
        <div class="homepage-bottom-box text-center mb-3">
          <img class="w-100 lazyload"
            data-src="<%= asset_path('homepage/promo_banner_right.jpg') %>"
            data-srcset="<%= image_source_set('homepage/promo_banner_right') %>"
            alt="<%= Spree.t('homepage.summer_sale')%>" />

          <div class="homepage-bottom-box-inner">
            <div class="homepage-bottom-box-inner-big-text text-uppercase">
              Promocje
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
